/* Style the buttons that are used to open and close the accordion panel */
@font-face {
    font-family: Work Sans;
    src: url(assets/fonts/static/WorkSans-Regular.ttf);
    font-weight: regular;
}
@font-face {
    font-family: Work Sans;
    src: url(assets/fonts/static/WorkSans-Bold.ttf);
    font-weight: bold;
}
body{
    background-color: hsl(275, 100%, 97%);
    padding: o;
    margin: 0;
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Work Sans;
    color: hsl(292, 42%, 14%);


}
b{
    font-weight: bold;
}
.accordion {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    color: hsl(292, 42%, 14%);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion{
    border-bottom: 1px solid hsl(275, 100%, 97%);
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
   color: hsl(292deg 72.49% 36.09%);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    color: hsl(292, 16%, 49%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  #main-content{
    top: 25%;
    left: 25%;
    position: fixed;
    width: 50%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
  }
  #heading-main-content{
    display: flex;
  }
